<config>
    <modules>
        <SkyLab_Banner>
            <version>0.0.1</version>
        </SkyLab_Banner>
    </modules>
    <global>
        <blocks>
            <skylab_banner>
                <class>SkyLab_Banner_Block</class>
            </skylab_banner>
        </blocks>
        <helpers>
            <skylab_banner>
                <class>SkyLab_Banner_Helper</class>
            </skylab_banner>
        </helpers>
        <models>
            <skylab_banner>
                <class>SkyLab_Banner_Model</class>
                <resourceModel>skylab_banner_resource</resourceModel>
            </skylab_banner>
            <skylab_banner_resource>
                <class>SkyLab_Banner_Model_Resource</class>
                <entities>
                    <banner>
                        <table>skylab_banner</table>
                    </banner>
                    <group>
                        <table>skylab_banner_group</table>
                    </group>
                    <group_banner>
                        <table>skylab_banner_group_banner</table>
                    </group_banner>
                    <group_store>
                        <table>skylab_banner_group_store</table>
                    </group_store>
                    <group_category>
                        <table>skylab_banner_group_category</table>
                    </group_category>
                    <group_product>
                        <table>skylab_banner_group_product</table>
                    </group_product>
                    <group_cms>
                        <table>skylab_banner_group_cms</table>
                    </group_cms>
                </entities>
            </skylab_banner_resource>
        </models>
        <resources>
            <skylab_banner_setup>
                <setup>
                    <module>SkyLab_Banner</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </skylab_banner_setup>
            <skylab_banner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </skylab_banner_write>
            <skylab_banner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </skylab_banner_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <skylab_banner after="Mage_Adminhtml">SkyLab_Banner_Adminhtml</skylab_banner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <skylab_banner>
                    <file>skylab/banner.xml</file>
                </skylab_banner>
            </updates>
        </layout>
        <translate>
            <modules>
                <SkyLab_Banner>
                    <files>
                        <default>SkyLab_Banner.csv</default>
                    </files>
                </SkyLab_Banner>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <skylab_banner>
                    <file>skylab/banner.xml</file>
                </skylab_banner>
            </updates>
        </layout>
        <translate>
            <modules>
                <SkyLab_Banner>
                    <files>
                        <default>SkyLab_Banner.csv</default>
                    </files>
                </SkyLab_Banner>
            </modules>
        </translate>
    </frontend>
    <default>
        <SkyLab_Banner>
            <settings>
                <enabled>0</enabled>
            </settings>
        </SkyLab_Banner>
    </default>

    <crontab>
        <jobs>
            <catalogrule_apply_all>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>catalogrule/observer::dailyCatalogUpdate</model></run>
            </catalogrule_apply_all>
        </jobs>
    </crontab>
</config>
