<config>
    <modules>
        <SkyLab_Surcharge>
            <version>0.0.1</version>
        </SkyLab_Surcharge>
    </modules>
    <global>
        <blocks>
            <skylab_surcharge>
                <class>SkyLab_Surcharge_Block</class>
            </skylab_surcharge>
        </blocks>
        <helpers>
            <skylab_surcharge>
                <class>SkyLab_Surcharge_Helper</class>
            </skylab_surcharge>
        </helpers>
        <models>
            <skylab_surcharge>
                <class>SkyLab_Surcharge_Model</class>
            </skylab_surcharge>
        </models>
        <resources>
            <skylab_surcharge_setup>
                <setup>
                    <module>SkyLab_Surcharge</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </skylab_surcharge_setup>
            <skylab_surcharge_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </skylab_surcharge_write>
            <skylab_surcharge_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </skylab_surcharge_read>
        </resources>
        <sales>
            <quote>
                <totals>
                    <night_hours_surcharge>
                        <class>skylab_surcharge/total_quote</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total</after>
                        <renderer>skylab_surcharge/checkout_total</renderer>
                    </night_hours_surcharge>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <night_hours_surcharge>
                        <class>skylab_surcharge/total_invoice</class>
                        <after>grand_total</after>
                    </night_hours_surcharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <night_hours_surcharge>
                        <class>skylab_surcharge/total_creditmemo</class>
                        <after>weee,discount,tax,grand_total</after>
                    </night_hours_surcharge>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <night_hours_surcharge>
                    <to_order>*</to_order>
                </night_hours_surcharge>
                <base_night_hours_surcharge>
                    <to_order>*</to_order>
                </base_night_hours_surcharge>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <night_hours_surcharge translate="title">
                    <title>Night Hours Surcharge</title>
                    <source_field>night_hours_surcharge</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </night_hours_surcharge>
            </totals>
        </pdf>
    </global>
    <frontend>
        <layout>
            <updates>
                <skylab_surcharge>
                    <file>skylab/surcharge.xml</file>
                </skylab_surcharge>
            </updates>
        </layout>
        <translate>
            <modules>
                <SkyLab_Surcharge>
                    <files>
                        <default>SkyLab_Surcharge.csv</default>
                    </files>
                </SkyLab_Surcharge>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <skylab_surcharge>
                    <file>skylab/surcharge.xml</file>
                </skylab_surcharge>
            </updates>
        </layout>
        <translate>
            <modules>
                <SkyLab_Surcharge>
                    <files>
                        <default>SkyLab_Surcharge.csv</default>
                    </files>
                </SkyLab_Surcharge>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <SkyLab_Surcharge>
            <night_hours>
                <enabled>0</enabled>
                <amount>10</amount>
                <label>Night hours surcharge</label>
                <start_hour>22:00</start_hour>
                <end_hour>07:00</end_hour>
            </night_hours>
        </SkyLab_Surcharge>
    </default>
    <!-- override default admin design theme -->
    <stores>
        <admin>
            <design>
                <theme>
                    <default>
                        <![CDATA[minicabs]]>
                    </default>
                </theme>
            </design>
        </admin>
    </stores>
</config>
